[[!inline pages="./%version%/release-notes-%version%.html" rss="no" raw="yes" ]]

- Available Files:
	- [Windows Installer](/MicroPeak/releases/%version%/MicroPeak-Windows-%version_dash%.exe)
	- [Mac OS X Package](/MicroPeak/releases/%version%/MicroPeak-Mac-%version%.dmg)
	- [Linux](/MicroPeak/releases/%version%/MicroPeak-Linux-%version%.sh)
	- [Source Snapshot](http://git.gag.com/?p=fw/altos;a=snapshot;h=refs/tags/%version%;sf=tgz)
