[[!inline pages="./%version%/release-notes-%version%.html" rss="no" raw="yes" ]]

- Available Files:
	- [Windows Installer](/AltOS/releases/%version%/Altos-Windows-%version_dash%.exe)
	- [Mac OS X Package](/AltOS/releases/%version%/Altos-Mac-%version%.dmg)
	- [Linux](/AltOS/releases/%version%/Altos-Linux-%version%.sh)
	- [Source Snapshot](http://git.gag.com/?p=fw/altos;a=snapshot;h=refs/tags/%version%;sf=tgz)
